.black {
    height: 100px;
    background-color: black;
}

.white {
    height: 100px;
    background-color: white;
}

.row {
    margin: 0px;
}

.container {
    width: 1200px;
}
.black:hover {
    background-color: green;
}


